.full-height {
    height: 100%;
}

.layout-padding {
    padding: 2%;
}

.md-toolbar p {
    padding: 7%;
    font-size: 1.5em;
}

.md-warn {
    background-color: red !important;
}

.map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.user-data {
    height: 5% !important;
}

.list-item {
    height: 5% !important;
}

.list-item.active {
    background-color: gray;
}

.advertiser-option {
    padding: 0%;
}

md-progress-circular path {
    stroke-width: 5px !important;
}

md-progress-circular {
    position: absolute;
}

md-progress-circular.reverse {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

md-progress-circular.stroke-blue path {
    stroke: blue;
}

md-progress-circular.stroke-orange path {
    stroke: orange;
}

md-progress-circular.stroke-yellow path {
    stroke: yellow;
}

.inner-content{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}